<!-- <div *ngIf="flag">loading works!</div> -->

<!-- <div *ngIf="flag" class="loading-indicator d-flex align-items-end justify-content-start">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorMessageModalLabel"></h5>
        </div>
        <div class="modal-body">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
   -->