@import url(../dashboard/dashboard.component.css);

.tbl {
    position: relative;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    /* width: auto; */
    /* height: 190px; */
    /* height: calc(50vh - 133px); */
    height: calc(50vh - 170px);
    border: 1px solid rgb(93, 93, 93);
    /* border: #1B2435 solid; */
  } 
.table-container-new{
  width: 116.5%;
  margin-top: 10px;
  padding: 10px;
  background-color:white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.292);
  height: calc(50vh - 100px);
}
.table-container-new th {
  position: sticky;
  top: 0px; /* Adjust the top position to match the height of the fixed header */
  z-index: 2;
}
  #customers td, #customers th {
    /* border: 1px solid #ddd; */
    border: 1px solid rgb(93, 93, 93);
    background-color: white;
    /* background-image: linear-gradient(to right, #53687E, #2E3B4F); */
    padding: 8px;
  }
  #customers th {
    /* padding-bottom: 0px; */
    white-space: nowrap;
    border-top:black;
    /* border-radius: 100px; */
    text-align: center;
    margin-top: 0px;
    padding-bottom: 0px;
    height: 30px;
    width: fit-content;
    overflow-x: auto;
    /* background-color: black; */
    background-image: linear-gradient(to right, #303C55, #1B2435);
    color:white;
    width: 300px;
  }