<style>
  .nd{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30vh;
      color: black;
   }
</style>
<div *ngIf="this.dash.dailyGrid.length" class="table-container-new">
  <h5 >Daily client file</h5>
    
    <div *ngIf="this.dash.dailyGrid.length==0"> <h3 class="nd">No data to show</h3> </div>
    <div  class="tbl">
        
        <table id="customers" class="table table-hover">
        <thead>
            <tr>
                <th>Client name</th>
                <th>Process start time</th>
                <th>Process end time</th>
                <th>File status</th>
                <th>Total records</th>
                <th>Valid records</th>
                <th>Invalid Records</th>
                <th>Saved Records</th>
                <th>Failed to save records</th>
                <th>Error</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let i of this.dash.dailyGrid">
                <td>{{i.user_name}}</td>
                <td>{{jsonify(i.status_details).startTime}}</td>
                <td>{{jsonify(i.status_details).endTime}}</td> 
                <td>{{jsonify(i.status_details).status}}</td>
                <td>{{jsonify(i.status_details).totalRecords}}</td>
                <td>{{jsonify(i.status_details).validCount}}</td>
                <td>{{jsonify(i.status_details).invalidCount}}</td>
                <td>{{jsonify(i.status_details).successCount}}</td> 
                <td>{{jsonify(i.status_details).failedCount}}</td> 
                <td>{{jsonify(i.status_details).error.length? "YES" : "NO"}}</td> 
              </tr>
          </tbody>
</table>
</div>
</div>