@import url(../dashboard/dashboard.component.css);
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.date-picker-container {
  display: flex;
  align-items: center;
}

.form-group {
  position: relative;
  display: inline-block; 
}
.form-group input{
  padding: 7px;
  width: 200px;
  font-size: large;
}


.btn{
  color:white;
  /* color:black; */
  /* margin-right: 5px; */
  margin-left: 0px;
  background-image: linear-gradient(to right, #303C55, #1B2435);
  /* background-image: linear-gradient(to right, #E8EAF6, #C5CAE9); */
  transition: 0.3s;
}
.btn:hover{
  color:white;
  /* color: black; */
  background-image: linear-gradient(to right, #53687E, #2E3B4F);
  /* background-image: linear-gradient(to bottom, #E8EAF6, #C5CAE9); */
  /* background-color: rgb(81, 172, 224); */
}
.btn:focus{
  color:white;
  /* color:black; */
  background-image: linear-gradient(to right, #FFC107, #FFA000);
}
/* .bc{
   border-radius: 0px;
   margin-left: 0px;
   margin-top: 0px;
   padding: 0px;
} */
.sty{
  padding: 0px;
  margin-bottom: 2px;
  background-image: linear-gradient(to bottom, #303C55, #1B2435);
  /* background-image: linear-gradient(to right, #E8EAF6, #C5CAE9); */
}