<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<!-- <nav class="navbar navbar-expand-lg sty">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-0">
      <div class="bc">
        <button class="nav-link btn " (click)="dashGrid(1)"> Daily Client</button>
      </div>
    <div class="bc">
        <button class="nav-link btn btn-outline-primary "(click)="dashGrid(2)"> Daily output</button>
    </div>
    <div class="bc">
        <button class="nav-link btn btn-outline-primary "(click)="dashGrid(3)"> Monthly output</button>
    </div>
    <div>
      <button class="nav-link btn btn-outline-primary "(click)="datePick()"> Consolidate output</button>
    </div>
  </ul>
  </div>
</nav>
       -->