@import url(../dashboard/dashboard.component.css);
#tbl{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 1000px;
  margin-bottom: 0;
  color: black;
}
.table-container-new{
  /* width: 147%; */
  width: 100%;
  /* margin-top: 10px; */
  /* margin-bottom: 15px; */
  /* margin-left: 18px; */
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.292);
  height: calc(50vh - 75px);
}
#customers th {
  /* padding-bottom: 0px; */
  border-top:black;
  /* border-radius: 100px; */
  text-align: center;
  margin-top: 0px;
  padding-bottom: 0px;
  overflow-x: auto;
  /* background-color: black; */
  background-image: linear-gradient(to right, #303C55, #1B2435);
  color:white;
  width: 700px;
  /* color: white; */
  /* padding: 0px; */
/* margin: 0px;
color: red; */
}
#customers td, #customers th {
  /* border: 1px solid #ddd; */
  border: 1px solid rgb(93, 93, 93);
  background-color: white;
  /* background-image: linear-gradient(to right, #53687E, #2E3B4F); */
  padding: 0px;
  width: 500px;
  height: calc(5vh);
  text-align: center;
  vertical-align: middle;
}