
    <div class="container cls">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="card shadow">
                 <div class="card-header">
                   <h2 class="text-center">Sign Up</h2>
                 </div>
                 <div class="card-body">
                   <form (ngSubmit)="signUp(signupForm)"#signupForm="ngForm">
                       <label for="email">Email:</label>
                       <input
                         type="email"
                         id="email"
                         class="form-control bg"
                         [(ngModel)]="signupData.email"
                         name="email"
                         required
                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                         />
                       <div *ngIf="signupForm.controls['email']?.errors?.['pattern']" class="text-danger">
                       Invalid email format
                       </div>
                         <label for="password">Password:</label>
                         <input
                         type="password"
                         id="password"
                         class="form-control bg"
                         [(ngModel)]="signupData.password"
                         name="password"
                         required
                         />
                         <!-- <div class="password-requirements card mt-3">
                           <div class="card-body">
                             <h5 class="card-title">Password Requirements:</h5>
                             <ul class="list-unstyled">
                               <li [ngClass]="{ 'invalid-requirement': !isPasswordLengthValid() }">At least 8 characters long</li>
                               <li [ngClass]="{ 'invalid-requirement': !isPasswordContainsUppercase() }">Contains at least one uppercase letter</li>
                               <li [ngClass]="{ 'invalid-requirement': !isPasswordContainsLowercase() }">Contains at least one lowercase letter</li>
                               <li [ngClass]="{ 'invalid-requirement': !isPasswordContainsNumber() }">Contains at least one number</li>
                               <li [ngClass]="{ 'invalid-requirement': !isPasswordContainsSpecialChar() }">Contains at least one special character</li>
                             </ul>
                           </div>
                       </div> -->
                     <div class="password-requirements card mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Password Requirements:</h5>
                        <ul class="list-unstyled">
                          <li [ngClass]="{ 'invalid-requirement': !isPasswordLengthValid() }">At least 8 characters long</li>
                          <li [ngClass]="{ 'invalid-requirement': !isPasswordContainsUppercase() }">Contains at least one uppercase letter</li>
                          <li [ngClass]="{ 'invalid-requirement': !isPasswordContainsLowercase() }">Contains at least one lowercase letter</li>
                          <li [ngClass]="{ 'invalid-requirement': !isPasswordContainsNumber() }">Contains at least one number</li>
                          <li [ngClass]="{ 'invalid-requirement': !isPasswordContainsSpecialChar() }">Contains at least one special character</li>
                        </ul>
                      </div>
                    </div>
                       <label for="confirmPassword">Confirm Password:</label>
                       <input
                       type="password"
                       id="confirmPassword"
                       class="form-control bg"
                       [(ngModel)]="confirmPassword"
                       name="confirmPassword"
                       required
                       />
                     <div class="text-center">
                       <button class="btn btn-primary up-butn mr-5">
                         Sign Up
                       </button>
                
                       <span class="text "> </span>
                         <button class="btn btn-primary up-butn" (click)="login()">Go back to Login</button>
                     </div>
                     <!-- <div>
                         <span class="text mt-4">Already have an account ? </span>
                         <button class="btn btn-primary in-btn mt-3" (click)="login()">Login</button>
                     </div> -->
                   </form>
                 </div>
          </div>
           

        </div>
      </div>
    </div>

       


<footer class="footer">     
</footer>



<div *ngIf="loading" class=" mt-5 overlay-load">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Optional: jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
