
<div class="header header-container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="hello-user">
      <!-- <i class="fas fa-user"></i>  Hello User -->
      <h5 *ngIf="this.greeting==-1">Hello</h5>
      <h5 *ngIf="this.greeting==0">Good morning</h5>
      <h5 *ngIf="this.greeting==1">Good afternoon</h5>
      <h5 *ngIf="this.greeting==2">Good evening </h5>
    </div>
    <div style="display: flex;padding-top: 10px;" >
      <div style="vertical-align: middle;">
          <label style="color:white; margin-bottom: 5px; vertical-align:middle; margin-left: 10px; margin-right: 10px;" for="date"><h5>Date</h5></label>
          <input style="margin-bottom: 10px; size:100px;text-align:center;vertical-align:middle; width: 150px; background-color: white" type="date" id="date" name="date" step="1" [(ngModel)]="searchDate">
          <button style="margin-bottom: 10px; color: white; background-color: rgba(148, 201, 251, 0.858); vertical-align:middle; margin-left: 10px ; margin-right: 10px;" (click)="this.displayGrids()"> Search </button>
          <button style="margin-bottom: 10px; color: white; background-color: rgba(148, 201, 251, 0.858); vertical-align:middle; margin-left: 0px ; margin-right: 10px;" (click)="this.displayGrids()"> <i class="fas fa-sync-alt"></i>Refresh</button>
      </div>
  </div>
    <div style="margin-right: 40px;" class="time ">{{currentTime}}</div>
    <!-- <button class="btn hv" (click)="logOut()"> <i class="fas fa-sign-out-alt"></i> Log out</button> -->
  </div>
</div>
<div class="dashboard">
   
    <div class="container-fluid">
      <div class="row" style="height: calc(50vh - 50px);">
        <div class="col">
          <app-daily-client></app-daily-client>
        </div>
      </div>
      <div class="row" style="height:  calc(50vh - 50px);">
        <div class="col-lg-9" style="padding-right: 7.5px;">
          <app-dmop-grids></app-dmop-grids>
        </div>
        <div class="col-lg-3" style="padding-left: 7.5px;">
          <app-consolidate-output></app-consolidate-output>
        </div>
      </div>
    </div>

     <div *ngIf="showF==1" class="overlay">
     <app-showfile [fileId]="fID" [tableArray]="tableArr"></app-showfile>
     </div>
</div>
    


  <style>
    .alert {
        position: absolute;
        top: 80%;
        left: -10%;
        transform: translate(50%, 100%);
        z-index: 9999;
        padding: 20px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
 
    .alert.alert-success {
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
 
    /* Add any additional styling you need for the alert box */
 </style> 
  <div *ngIf="showalert" class="alert alert-success ">
    <strong>Success!</strong> File downloaded successfully.
  </div>



<div *ngIf="loading" class=" mt-5 overlay-load">
  <!-- <h2>
    Fetching data from server . . .   
  </h2> -->
  <!-- <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <!-- <div class="spinner-border m-4" role="status">
    <span class="sr-only">Loading...</span>
  </div> -->
  <!-- <div class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div> -->
</div>

<!-- Optional: jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
  .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
</style>
