<div *ngIf="this.dash.consGrid" class="table-container-new">
<h5 >Consolidate output file</h5>

    <form (ngSubmit)="datePick()" >
        <div style="width: 300px;" class="form-group">
            <div class="conso-lb">
                <label for="sdate"> Start Date</label>
                <input type="date" id="sdate" name="sdate" step="1" [(ngModel)]="startDate">
            </div>
            <div class="conso-lb">
            <label for="edate"> End Date</label>
            <input type="date" id="edate" name="edate" step="1" [(ngModel)]="endDate">
            </div>
         </div>
    </form>

<div style="margin-top: 40px;"class="button-container">
    <button class="btn btn-secondary" (click)="datePick()"><i class="fas fa-download"></i>  Download</button>
</div>
</div>

<div *ngIf="loading" class=" mt-5 overlay-load">
    <h2>
        It will take time to download the file Please wait . . .   
    </h2>
    <div class="spinner-border m-4" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
  <!-- Optional: jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  