@import '~@fortawesome/fontawesome-free/css/all.css';
@import url(../dashboard/dashboard.component.css);
.text{
  margin-right: 10px;
  color: black;
}
.head{
    margin-top: 100px;
    font-weight: bold;
    color:grey;
  }
  .butn{
    margin: 10px;
  }
  .bg{
    background-color:aliceblue;
  }

  .in-butn{
   
    background-color: #303C55;
    color: #FFF;
    border: none;
    padding: 8px 16px;
    margin-left: 10px; /* Add margin between text and button */
      /* padding:2px; 
      background-color: black;
      height: 25px;
      color: white; */
    }
    .overlay-load {
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - 98px);
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.633);
      /* Add additional styles for the overlay */
    }