@import '~@fortawesome/fontawesome-free/css/all.css';

/* .dashboard {  //when there is not grids
  display: flex;
  flex-direction: column;
  background-color:white;
  height: calc(100vh - 108px); 
} */


.date-picker-container {
  display: flex;
  align-items: center;
}

.form-group {
  position: relative;
  display: inline-block; 
}
.form-group input{
  padding: 7px;
  width: 200px;
  font-size: large;
}
.conso-lb{
  height: auto;
  width: 100px;
}
.dashboard{
  display: grid;
  grid-template-rows: auto 1fr auto; /* Adjust the row sizes as needed */
  height: calc(100vh - 100px); /* Set the height of the dashboard container */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
  grid-gap:20px;
  height: calc(100vh - 135px);
  /* width: calc(100vh); */
  background-image: linear-gradient(to bottom, #303C55, #1B2435);

}

.grid-item {
  display: grid;
  height: calc(50vh - 80px);
  background-color: #f2f2f2; /* Set a background color or style as desired */
  padding:10px;
}

.header {
  /* background-color: #6c757d; */
  /* background-color:black; */
  background-image: linear-gradient(to bottom, #303C55, #1B2435);
  /* background-image: linear-gradient(to bottom, #303C55, #1B2435); */
  /* background-image: linear-gradient(to bottom, #E8EAF6, #C5CAE9); */
  /* padding: 0px; */
}

.header-container {
  padding: 0px;
}
/* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  width: 80%;
  height: 80%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
} */
.button-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 7px;
  text-align: center;
  justify-content: right;
  /* background-color: #dc3545; */
}
.btn-css{
  margin-right: 10px;
  width: 100px;
}

.hv{
  color:white;
  /* color:black; */
  border-radius: 5px;
  margin:2px;
  background-color: #dc3545;
  transition: 0.1s;
}
.hv:hover{
  color: rgb(255, 5, 5);
  background-color: #ddd;
}
.time{
  /* color: white; */
  color:white;
  font-size: larger;
}

.hello-user{
  color:white;
  margin-left: 10px;
}


.table-responsive {
  position: relative;
  padding: 0;
  overflow-x: auto;
  overflow-y: auto;
  /* width: auto; */
  /* height: 190px; */
  height: calc(50vh - 180px);
  border: #1B2435 solid;
} 
.table-container{
  width: 735px;
}
.show-table-responsive {
  position: relative;
  padding: 0;
  overflow-x: auto;
  overflow-y: auto;
  /* width: auto; */
  /* height: 190px; */
  height: calc(100vh - 150px);
  border: #1B2435 solid;
} 
.show-table{
  margin-top:0px;
  width:100%;
  height: auto;
}
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 500px;
    color: black;
  }
  
  #customers td, #customers th {
    /* border: 1px solid #ddd; */
    border: 1px solid rgb(93, 93, 93);
    background-color: white;
    /* background-image: linear-gradient(to right, #53687E, #2E3B4F); */
    padding: 8px;
  }
  
  /* #customers tr:nth-child(even){background-color: #f2f2f2;} */
  
  #customers tr:hover {background-color: #f2f2f2;}
  
  #customers th {
    /* padding-bottom: 0px; */
    border-top:black;
    /* border-radius: 100px; */
    text-align: left;
    padding-top: 0px;
    background-image: linear-gradient(to right, #303C55, #1B2435);
    color:white;
    width: auto;
    /* color: white; */
    /* padding: 0px; */
  /* margin: 0px;
  color: red; */
  }

.table-container th {
  position: sticky;
  top: 0px; /* Adjust the top position to match the height of the fixed header */
  z-index: 2;
}
.show-table th{
  position: sticky;
  top: 0px; /* Adjust the top position to match the height of the fixed header */
  z-index: 2;
}



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Adjust this value to set the height of the footer */
  /* background-color: #f8f9fa; */
  /* background-color: rgb(81, 172, 224); */
  background-image: linear-gradient(to bottom, #303C55, #1B2435);
  /* background-image: linear-gradient(to bottom, #E8EAF6, #C5CAE9); */
  /* padding: 10px; */
  /* border-top: 1px solid #ccc; */
  display: flex;
    justify-content: flex-end;
}
