<div class="container d-flex align-items-center justify-content-center ">
    <div class="text-center">
      <h1 *ngIf="greet==0" id="greeting-message">Good morning!</h1>
      <h1 *ngIf="greet==1" id="greeting-message">Good afternoon!</h1>
      <h1 *ngIf="greet==2" id="greeting-message">Good evening!</h1>
    </div>
  </div>
<!-- <div class="dashboard"> 

  <div class="grid">
    <div class="grid-item">
        Daily client file
        <app-daily-client></app-daily-client>
    </div>
    <div class="grid-item">
      consolidate output
      <app-consolidate-output></app-consolidate-output>
    </div>
    <div class="grid-item">
      daily output
      <app-daily-output></app-daily-output>
    </div>
    <div class="grid-item">
      monthly output 
       <app-monthly-output></app-monthly-output>
    </div>
  </div>
  
  
</div> -->