<div class="showHeader">
    <div class="left-side">
      <h4 *ngIf="fileId==1">Daily output file</h4>
      <h4 *ngIf="fileId==2">Monthly output file</h4>
      <h4 *ngIf="fileId==3">Consolidated output file</h4>
    </div>
    <div class="right-side">
      <button class="btn btn-primary goback" (click)="goBack()"><i class="fas fa-arrow-left"></i>Go back</button>
    </div>
  </div>
<div *ngIf="fileId==1 || fileId==2"class="show-table">
  <div class="show-table-responsive">
    <div *ngIf="tableArray.length==0">
      No data found
    </div>
    <table id="customers">
    <thead>
        <tr>
          <th>Sr. no.</th>
          <th>TradeDate</th>
          <th>TradeTime</th>
          <th style="width: 1.5em;">Dealer In Competition</th>
          <th>Side</th>
          <th>ISIN</th>
          <th>Ticker</th>
          <th>Maturity</th>
          <th>CouponPerc</th>
          <th>SizeMM</th>
          <th>Currency</th>
          <th>Price</th>
          <th>MidPrice</th>
          <th>YieldPerc</th>
          <th>Spread</th>
          <th>SettlementDate</th>
          <th>OnVenue</th>
          <th>Venue</th>
          <th>ProcessTrade</th>
          <th>AutoExecution</th>
          <th>PortfolioTrade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of tableArray; let count = index" >
          <td style="width: 40px;">{{count+1}}</td>
          <td style="white-space: nowrap;">{{i.trade_date}}</td>
          <td style="white-space: nowrap;">{{i.trade_time}}</td>
          <td>{{i.dealers_in_competition}}</td>
          <td>{{i.side}}</td>
          <td>{{i.isin}}</td>
          <td>{{i.ticker}}</td>
          <td style="white-space: nowrap;">{{i.maturity}}</td>
          <td>{{i.coupon_perc}}</td>
          <td>{{i.size_in_MM_actual}}</td>
          <td>{{i.currency}}</td>
          <td>{{i.price}}</td>
          <td>{{i.mid_price}}</td>
          <td>{{i.yield_perc}}</td>
          <td>{{i.spread}}</td>
          <td>{{i.settlement_date}}</td>
          <td style="white-space: nowrap;">{{i.on_venue}}</td>
          <td style="white-space: nowrap;">{{i.venue}}</td>
          <td>{{i.process_trade}}</td>
          <td>{{i.auto_execution}}</td>
          <td>{{i.portfolio_trade}}</td>
        </tr>
    </tbody>
  </table>
 </div>
</div>
