<style>
   .nd{
       display: flex;
       align-items: center;
       justify-content: center;
       height: calc(30vh - 45px);
    }
 </style>

 <!-- <div class="container mt-3">
   <table class="table table-hover">
     <thead>
       <tr>
         <th>Firstname</th>
         <th>Lastname</th>
         <th>Email</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>John</td>
         <td>Doe</td>
         <td>john@example.com</td>
       </tr>
       <tr>
         <td>Mary</td>
         <td>Moe</td>
         <td>mary@example.com</td>
       </tr>
       <tr>
         <td>July</td>
         <td>Dooley</td>
         <td>july@example.com</td>
       </tr>
     </tbody>
   </table>
 </div> -->
 <div *ngIf="this.dash.dailyGrid.length" class="table-container-new">
   <h5>Daily output file</h5>

     <div *ngIf="this.dash.dailyGrid.length==0"> <h3 class="nd">No data to show</h3> </div> 
    <div  class="tbl">
        <table id="customers" class="table table-hover ">
        <thead>
              <tr>
                <th colspan="2">{{this.dash.dopFilename}}</th>
              </tr>
          </thead>
          <tbody>
             <tr>
                <td>Process Time</td>
                <td>{{this.dash.dopProcessTime}}</td>
             </tr>
             <tr>
                <td>Total Records</td>
                <td>{{this.dash.doprecords}}</td>
             </tr>
             <tr>
                <td>File type</td>
                <td>Daily</td>
             </tr>
             <tr>
                <td>File extension</td>
                <td>.csv</td>
             </tr>
          </tbody>
</table>
</div>
<div class="button-container">
    <button class="btn btn-primary btn-css" (click)="showFile(1)">View</button>
    <button class="btn btn-secondary" (click)="downloadThisfile()"><i class="fas fa-download"></i>  Download</button>
</div>
</div>
<div *ngIf="loading" class=" mt-5 overlay-load">
   <h2>
      File is fetching Please wait . . .      
   </h2>
   <div class="spinner-border m-4" role="status">
     <span class="sr-only">Loading...</span>
   </div>
 </div>
 
 <!-- Optional: jQuery and Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 