<h5>Daily output file</h5>
<div class="table-container">

    <div class="table-responsive">
        <table id="customers">
        <thead>
            <tr>
                <th>daily output</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let i of rows">
                <td>{{i}}</td>
                <td>Data 2</td>
                <td>Data 3</td>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
            </tr>
        </tbody>
</table>
</div>
<div class="button-container">
    <button class="btn btn-primary btn-css" (click)="showFile(1)">View</button>
    <button class="btn btn-secondary" (click)="downloadThisfile()"><i class="fas fa-download"></i>  Download</button>
</div>


</div>