<style>
  .nd{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30vh;
      color: white;
   }
</style>
<div class="table-container-new">        
    <div *ngIf="!this.dash.dailyclientAvailable || this.dash.dailyGrid.length==0"> <h3 class="nd">No data to show for date {{this.dash.searchDate}}</h3> </div>
    <div *ngIf="this.dash.dailyclientAvailable && this.dash.dailyGrid.length"> 
      <div style="padding-bottom:5px; border-bottom: 1px solid white;padding-top:10px; background-color: #1b2435; border-top-left-radius: 10px;border-top-right-radius: 10px;">
        <h5 style="margin-bottom: 0; vertical-align: middle;color: white;margin-left: 10px;">Daily client process file</h5>
     </div>
    <div class="xyz"> 
        <table id="dop" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 30px;">Sr. no.</th>
                <th>Client name</th>
                <th>Process start time</th>
                <th>Process end time</th>
                <th>File status</th>
                <th>Total records</th>
                <th>Valid records</th>
                <th>Invalid Records</th>
                <th>Saved Records</th>
                <th>Failed to save records</th>
                <th>Error</th>
                <th>File name</th>
                <th>Download</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let i of this.dash.dailyGrid; let count = index">
                <td style="width: 30px;">{{count+1}}</td>
                <td>{{i.user_name}}</td>
                <td style="white-space: nowrap;padding-left: 5px; padding-right: 5px;">{{i.status_details!=null?jsonify(i.status_details).startTime:'-'}}</td>
                <td style="white-space: nowrap;padding-left: 5px; padding-right: 5px;">{{i.status_details!=null?jsonify(i.status_details).endTime:'-'}}</td> 
                <td style="white-space: nowrap;">{{i.status_details!=null?jsonify(i.status_details).status:'-'}}</td>
                <td>{{i.status_details!=null?jsonify(i.status_details).totalRecords : '-'}}</td>
                <td>{{i.status_details!=null?jsonify(i.status_details).validCount: '-'}}</td>
                <td>{{i.status_details!=null?jsonify(i.status_details).invalidCount: '-'}}</td>
                <td>{{i.status_details!=null?jsonify(i.status_details).successCount: '-'}}</td> 
                <td>{{i.status_details!=null?jsonify(i.status_details).failedCount: '-'}}</td> 
                <td [hidden]="!i.status_details" style="white-space: nowrap;" [style.color]="i.status_details!=null&&jsonify(i.status_details).error.length ? 'white' : 'black'" [style.background-color]="i.status_details!=null&&jsonify(i.status_details).error.length ? 'red' : 'lightgreen'">{{i.status_details!=null?(jsonify(i.status_details).error.length? "YES" : "NO"):'-' }}
                  <button [hidden]="!i.status_details" style="color: white;padding:0;margin-bottom: 5px;" class="btn btn-link" *ngIf="i.status_details!=null && jsonify(i.status_details).error.length" data-bs-toggle="offcanvas" data-bs-target="#demo" (click)="passIndex(count,i)">show</button></td> 
                <td [hidden]="!i.status_details"style="padding-left: 0px;padding-right: 0px;">{{i.filename}}</td>
                <td>
                    <button [hidden]="!i.status_details" style="color: white; background-color: rgb(255, 0, 0);" (click)="downloadFile(i.updated_date,i.user_name,i.filename)">Download</button>
               </td>
              </tr>
          </tbody>
   </table>
 </div>
  <div *ngIf="this.dash.opAvailable" style="height: 20px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-color: #1b2435;" >
  </div>
</div>


<div class="offcanvas offcanvas-start" id="demo" style="color:black; width: 750px;margin-top: 100px; margin-bottom: 60px; ">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Description of Errors</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div style="margin-left: 25px; color:black; width:700px; height:calc(80vh - 100px);" class="table-container-new">
    <h5> Client name : {{this.username}} </h5>
    <h5> File processed : {{this.errorFile}} </h5>
      <div style="height:calc(70vh - 200px); width: 600px;" class="tbl">
          <table id="customers" class="table table-hover">
          <thead>
                <tr style="width: 50px;">
                  <th style="width: 50px;">Line no.</th>
                  <th>Error Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.errorToshow">
                  <td>{{item.lineNumber}}</td>
                  <td>{{item.errorMessage}}</td>
                </tr>
            </tbody>
  </table>
  </div>
  </div>
</div>